@import url('./__container/page__container.css');

.page {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 60px 0;
  background-color: #000;
}
