@import url('./__add-button/profile__add-button.css');
@import url('./__avatar/profile__avatar.css');
@import url('./__job/profile__job.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__name/profile__name.css');
@import url('./__info/profile__info.css');

.profile {
  max-width: 882px;
  width: 100%;
  margin: 0 auto 50px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    max-width: 700px;
    width: 100%;
    padding: 0 19px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    max-width: 282px;
    width: 100%;
    margin-bottom: 36px;
    flex-direction: column;
  }
}
