@import url('./__list/elements__list.css');

.elements {
  max-width: 882px;
  width: 100%;
  margin: 0 auto 66px;
}

@media screen and (max-width: 900px) {
  .elements {
    max-width: 582px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .elements {
    max-width: 282px;
    width: 100%;
    margin-bottom: 48px;
  }
}
