.profile__edit-button {
  cursor: pointer;
  align-self: center;
  transition: all 0.3s;
  border: 1px solid white;
  background-color: black;
  background-image: url('./../../../images/Edit-Button.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
