.element__like {
  cursor: pointer;
  background-image: url('./../../../images/like.svg');
  width: 21px;
  height: 19px;
  padding: 0;
  border: 0;
  background-color: white;
  margin-bottom: 3px;
}

.element__like:hover {
  opacity: 0.6;
}
