.popup__image {
  max-height: 540px;
  margin-bottom: 10px;
}

@media screen and (max-width: 890px) {
  .popup__image {
    max-width: 600px;
  }
}

@media screen and (max-width: 690px) {
  .popup__image {
    max-width: 500px;
  }
}

@media screen and (max-width: 580px) {
  .popup__image {
    max-width: 400px;
  }
}
@media screen and (max-width: 480px) {
  .popup__image {
    max-width: 240px;
  }
}
